<launch>
    
    <node name="base_body_tf_publisher" pkg="tf" type="static_transform_publisher"
          args="0 0 0 0 0 0 body velodyne 100"/>

    <node name="map_loader" pkg="fast_lio_localization" type="map_loader" output="screen">
        <param name="map_path" value="$(find fast_lio_localization)/data/IB-4L.pcd"/>
    </node>

    <node name="fast_lio_localization" pkg="fast_lio_localization" type="fast_lio_localization" output="screen">
        <param name="ndt/debug" value="true"/>
        <param name="ndt/voxel_leaf_size" value="0.1"/>
        <param name="ndt/min_scan_range" value="1.0"/>
    </node>

    <node name="rviz_localization" pkg="rviz" type="rviz" args="-d $(find fast_lio_localization)/config/localization.rviz"/>

</launch>